#canvas{
    border: solid 0.3em rgb(148, 163, 183);
    height: 400px;
    width: 900px;
    margin-top: 0.5em;
    background-color: white;
}

hr{
    width: 70%;
    margin-left: 1em;
    height: 0.2em;
    background-color: white;
}

#frame{
    margin-left: 17em;
    text-align: center;
    color: rgb(196, 194, 208);
}

.wrapper-styles{
    display: inline-flex;
    align-items: center;
    margin: 2%;
}

body{
    background-color: #8E7692;
}

button{
    background-color: #E2D2C8;
    border: rgba(142, 128, 141, 1);
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    margin: 0.2em;
    color: rgba(142, 128, 141, 1);
}

button:hover {
        background-color: #bdb6b3ff;
}


#options{
    display:flex;
    flex-direction: column;
    gap: 0.5em;
    height: auto;
    width: 15em;
    position: fixed;
    border-right: dotted 0.2em #482841;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    padding-top: 5%;
    padding-left: 2%;
    background-color: #CEB2BD;
    color: rgb(21, 113, 102);
}

/* #color-control{
    height: auto;
    width: 16em;
    position: fixed;
    z-index: 1;
    top: 10em;
    left: 0;
    overflow-x: hidden;
    padding-top: 5%;
    padding-left: 2%;

} */

