#canvas{
    border: solid 5px maroon;
    height: 500px;
    width: 900px;
    margin-top: 2em;
    margin-left: 17em;
}

.wrapper-styles{
    display: inline-flex;
    align-items: center;
    margin: 2%;
}
/* 
body{
    display: flex;
    text-align: center;
    width: 50%;
    margin-left: 15%;
    margin-top: 2%;
} */

#options{
    display:flex;
    flex-direction: column;
    gap: 0.5em;
    height: auto;
    width: 20em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 5%;
    padding-left: 2%;
}

#color-control{
    /* margin-left: 17em;
    padding: 0 1em; */
    height: auto;
    width: 16em;
    position: fixed;
    z-index: 1;
    top: 10em;
    left: 0;
    overflow-x: hidden;
    padding-top: 5%;
    padding-left: 2%;
}

